{% extends 'base.html.twig' %}

{% set activePage = 'blocks' %}

{% block body %}
    <div class="c-all-blocks-page">
        <h1>All Blocks</h1>

        <div class="c-all-blocks-page__blocks">
            <div class="c-table">
                <table>
                    <thead>
                    <tr>
                        <th>Height</th>
                        <th>Age</th>
                        <th>txns</th>
                        <th>Uncles</th>
                        {# TODO Check is network POA and then hide #}
                        <th>Miner</th>
                        <th>Gas used</th>
                        <th>Gas limit</th>
                        <th>Avg. Gas Price</th>
                        {# TODO Check is network POA and then hide #}
                        <th>Reward</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for block in blocks %}
                        <tr>
                            <td>
                                <a href="{{ path('be.block.show_block', {blockHashOrNumber: block.blockNumber}) }}">
                                    {{ '#' ~ block.id }}
                                </a>
                            </td>
                            {# TODO time ago filter #}
                            <td>{{ block.timestamp|date('U') }}</td>
                            <td>{{ block.numberOfTransactions }}</td>
                            <td>{# TODO #}</td>
                            <td>
                                <a href="{{ path('be.address.show_address', {address: block.miner.address}) }}">
                                    {{- block.miner.address|truncate(16) -}}
                                </a>
                            </td>
                            <td>{{ block.gasUsed }}</td>
                            <td>{{ block.gasLimit }}</td>
                            <td>{# TODO average gas price #}</td>
                            <td>{# TODO block reward #}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="c-all-blocks-page__blocks-pagination">
                {{ knp_pagination_render(blocks) }}
            </div>
        </div>
    </div>
{% endblock %}
