<div class="c-table">
    <table>
        <thead>
        <tr>
            <th>Token</th>
            <th>Address</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>
                    {% if contract.isErc20Token %}
                        {{ contract.erc20Token.name }}
                        ({{ contract.erc20Token.symbol }})
                        [ERC20]
                    {% endif %}

                    {% if contract.isErc721Token %}
                        {{ contract.erc721Token.name }}
                        ({{ contract.erc721Token.symbol }})
                        [ERC721]
                    {% endif %}
                    {# TODO Token validation#}
                </td>
                <td>
                    <a href="{{ path('be.contracts.show_contract', {address: contract.address.address}) }}">
                        {{ contract.address.address }}
                    </a>
                </td>
                <td>{{ contract.address.ethereumBalance|weiTransform('ether') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="{{ paginationClassName }}">
    {{ knp_pagination_render(contracts) }}
</div>
